footer {
	width: 100%;
	background-color: #4f3c3b;
	color: #fff;
	text-align: center
}

footer .links {
	line-height: 40px;
	margin-bottom: 20px;
	padding: 10px 10px 0 10px;
	font-size: 20px
}

.links span {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	margin-bottom: 10px;
	padding: 0 20px
}

.links span:last-of-type {border-right: none}

.fb {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(../img/fb.png);
	background-size: cover;
	transition: 0.2s
}

.fb:hover {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8)
}

.fb:active {
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);
	transition: 0.1s
}

footer .copyright {
	padding: 10px 0;
	font-size: 16px
}