/* footer */
footer {
	padding: 10px;
	position: relative;
	border-top: 1px solid #757575;
	background-color: #fff;
	text-align: center
}

/* useful links */

.links {line-height: 40px}

.links a {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding: 0 20px
}

.fb {
	height: 40px;
	background: url(../img/fb.png) no-repeat;
	background-size: contain
}

/* copyright section */
.copyright {
	display: block;
	padding-top: 10px
}