body {
	margin: 0;
	overflow-x: hidden
}

/* banner section (only index) */

.banner {
	width: 100%;
	height: calc(9 * (100vw / 16) - 10px);
	position: relative;
	background: url(../img/banner.jpg) no-repeat;
	background-size: 100%
}

.banner-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(9 * (100vw / 16) - 10px);
	top: 0;
	position: absolute
}

.beer {
	width: 100px;
	margin-bottom: 20px
}

/* main container (all pages) */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow-x: hidden;
	padding: 100px 50px 50px 50px;
	box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.5); /* box shadow on the banner */
	background-color: #fff;
	text-align: center;
	font-size: 20px
}

/* workshop photo (only index) */

.workshop-photo {
	width: 40%;
	margin-top: 20px
}

/* contact section */

.interest {
	width: 100%;
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid #757575
}

.btn-contact {
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	outline: none;
	border: 1px solid #000;
	color: #000;
	text-decoration: none;
	transition-duration: 0.4s
}

/* keyframes */

@keyframes fade_out {
	from {opacity: 1}
	to {opacity: 0}
}

/* media queries */

@media screen and (min-width: 1401px) {
	.card {
		width: 400px !important;
		height: 600px
	}
	.card-content {height: calc(100% - 40px) !important}
}

@media screen and (min-width: 901px) {
	/* nav buttons hover animation */
	nav a:after {
		content: "";
		width: 0;
		height: 100%;
		right: 0;
		position: absolute;
		transition-duration: 0.5s
	}
	nav a:after {background-color: #000}
	nav a span {
		position: relative;
		z-index: 1
	}
	nav a:hover {color: #fff}
	nav a:hover:after {width: 100%}
}

@media screen and (max-width: 1000px) {
	.beer {width: 75px}
	.title {font-size: 45px}
	main > p {padding: 0 25px}
	.workshop-photo {width: 50%}
	.card {margin: 20px 0 0 0 !important}
	#map {width: 100%}
}

@media screen and (max-width: 900px) {
	.card {width: 100% !important}
	.list {width: 100% !important}
	.menu {visibility: visible}
	nav {
		visibility: hidden;
		height: auto;
		top: 60px;
		opacity: 0;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
		background-color: #000
	}
	nav a {
		display: block;
		margin-bottom: 10px;
		color: #fff !important
	}
	nav a:hover {
		background-color: #fff;
		color: #000 !important
	}
}

@media screen and (max-width: 800px) {
	.beer {width: 50px}
	.title {font-size: 35px}
	.subtitle {font-size: 25px}
	.links,
	main > p,
	.workshop_info,
	.card,
	.interest,
	.cards,
	.contact {font-size: 18px}
	.address {font-size: 22px}
	.workshop-photo {width: 70%}
	.card-title {display: none !important}
	.card-content {
		visibility: visible !important;
		opacity: 1 !important
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center
	}
	textarea {
		width: 300px;
		height: 150px
	}
	#map {height: 300px}
}

@media screen and (max-width: 700px) {
	.banner-title {display: none}
	.main-title {display: block}
	.workshop-photo {width: 90%}
}

@media screen and (max-width: 600px) {.formula {width: 100% !important}}

@media screen and (max-width: 500px) {
	main {padding: 100px 0 50px 0}
	.item {margin: 20px 0 !important}
	.error {width: 90%}
	.workshop-photo {width: 100%}
	#map {
		border-left: none;
		border-right: none
	}
}