/* item sections */

.item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 950px;
	margin: 20px;
	padding: 20px;
	background-color: #fac564
}

.photo {
	width: 100%;
	transition-duration: 0.4s
}

.color {
	display: block;
	margin-top: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 30px
}

.info {
	padding: 0 20px;
	text-align: left;
	font-size: 18px
}