/** Contact page **/

/* CSS imports */
@import url("form.css");
@import url("map.css");

.contact-container {
	width: 100%;
	margin-bottom: 50px;
	padding: 20px 0
}

/* Mail status message */

.error {
	display: inline-block;
	margin-top: 30px;
	opacity: 1;
	color: #fff;
	font-size: 18px;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s
}
.error.valid {background-color: #77b255}
.error.invalid {background-color: #ed4337}

.error .content {
	display: inline-block;
	width: calc(100% - 100px);
	line-height: 40px;
	padding: 0 40px 0 20px;
	float: left;
	text-align: left
}

/* Mail status close button */
.error .btn-close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	cursor: pointer
}
.error .btn-close:hover {opacity: 0.5}

.btn-close ion-icon {
	color: #fff;
	font-size: 20px
}