/** Products page **/

.item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 970px;
	margin: 10px;
	padding: 20px;
	background-color: #fac564
}

.photo {
	display: block;
	width: 100%;
	min-height: 100px;
	background: url(../images/loading.gif) center no-repeat;
	background-size: 10%;
	color: transparent
}

.color {
	display: block;
	margin-top: 20px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	font-size: 30px
}

.info {
	padding: 0 20px;
	text-align: left;
	font-size: 18px
}